mkdocs>=1.5
mkdocs-material>=9.5
pymdown-extensions>=10.0
mkdocs-material-extensions>=1.3

# Plugins (comment out if not needed right now)
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin
mkdocs-awesome-pages-plugin
